@using System.Diagnostics.Eventing.Reader
@using System.Web.Mvc.Html

<div class="form-group">
    <table class="table table-bordered">
        <tr>
            <td>
                Customer Registratioin No
            </td>
            <td>
                @ViewBag.RegId
            </td>
        </tr>
        <tr>
            <td>
                Customer Name
            </td>
            <td>
                @ViewBag.CustomerName
            </td>
        </tr>
        @if (ViewBag.Nid != null)
        {
            <tr>
                <td>
                    Customer Nid
                </td>
                <td>
                    @ViewBag.Nid
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    Passport
                </td>
                <td>
                    @ViewBag.Passport
                </td>
            </tr>
        }
        <tr>
            <td>
                Contuct Number
            </td>
            <td>
                @ViewBag.Phone
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                @ViewBag.Address
            </td>
        </tr>

    </table>
</div>