@using System.Diagnostics.Eventing.Reader
@using System.Web.Mvc.Html


<div class="form-group">
    <table class="table table-bordered">
        <tr>
            <td>
                Room Name
            </td>
            <td>
                @ViewBag.RoomName
            </td>
        </tr>
        <tr>
            <td>
                Room Type
            </td>
            <td>
                @ViewBag.RoomType
            </td>
        </tr>
        <tr>
            <td>
                Room Descrciption
            </td>
            <td>
                @ViewBag.Description
            </td>
        </tr>
        <tr>
            <td>
                Room Price
            </td>
            <td>
                @ViewBag.Price
            </td>
        </tr>
        @if (ViewBag.Status != null &ViewBag.Status!= false)
        {
            <tr>
                <td>
                    Room Status
                </td>
                <td>
                    <b>Occupide</b>
                </td>
            </tr>
            <tr>
                <td>Occupied By</td>
                <td>@ViewBag.CustomerName</td>
            </tr>
            <tr>
                <td>Occupied From</td>
                <td>@ViewBag.CheckIn</td>
            </tr>
            <tr>
                <td>Occupied To</td>
                <td>@ViewBag.CheckOut</td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    Room Status
                </td>
                <td>
                    <b>Available</b>
                </td>
            </tr>
        }
    </table>
</div>
