@model HotelManagementFinal.Models.Customer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@if (TempData["regId"] != null)
{
    <div class="alert alert-success">Customer Name:  @TempData["regId"]</div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerPhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerPhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationTypeId, "Identification Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdentificationTypeId", null, "--Select Identification Type--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdentificationTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="nidLoad" class="form-group">
            @Html.LabelFor(model => model.CustomerNid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerNid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerNid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="passportLoad" class="form-group">
            @Html.LabelFor(model => model.CustomerPassportNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerPassportNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerPassportNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $('#nidLoad').hide();
        $('#passportLoad').hide();

        $('#IdentificationTypeId').change(function () {
            var id = $('#IdentificationTypeId').val();
            if (this.change != id) {
                if (id == null) {
                    $$('#nidLoad').hide();
                    $('#passportLoad').hide();
                }
                if (id == 1) {
                    $('#nidLoad').show();
                } else {
                    $('#nidLoad').hide();
                }
                if (id == 2) {
                    $('#passportLoad').show();
                } else {
                    $('#passportLoad').hide();
                }
            } else {
                $$('#nidLoad').hide();
                $('#passportLoad').hide();
            }

        });
    });
</script>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
