@using HotelManagementFinal.Models
@model HotelManagementFinal.Models.CheckIn

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

@if (TempData["already"] != null)
{
    <div class="alert alert-danger">@TempData["already"]</div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CheckIn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ChekInDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChekInDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChekInDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", null, "--Select Customer Name--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div id="customerInfo" class="col-md-4">
                @Html.Partial("~/Views/Shared/_CustomerInfoLoad.cshtml")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomTypeId, "Room Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomTypeId", null, "--Select Room Type--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.RoomId, "Rooms", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RoomId", null, "--Select Room--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div>
            @Html.Partial("~/Views/Shared/_FillteredRooms.cshtml")
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            <div id="roomInfo" class="col-md-4">
                @Html.Partial("~/Views/Shared/_RoomInfoLoad.cshtml")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paying, "Paying On CheckIn",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paying, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paying, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function FillData(id) {
        $('#RoomId').load('@Url.Action("LoadRoom")', { roomTypeId: id });
    }

    function FillCustomerInfo(id) {
        $('#customerInfo').load('@Url.Action("CustomerInfoLoad")', { customerId: id });
    }

    function FillRoomInfo(id) {
        $('#roomInfo').load('@Url.Action("RoomInfoLoad")', { roomId: id });
    }

    $(function () {
        $('#customerInfo').hide();
        $('#roomInfo').hide();

        $('#RoomTypeId').change(function () {
            var id = $('#RoomTypeId').val();
            FillData(id);
        });

        $('#CustomerId').change(function () {
            var id = $('#CustomerId').val();
            if (this.change) {
                $('#customerInfo').hide();
            } else {
                $('#customerInfo').show();
            }
            //if (this.change != id) {
            //    $('#customerInfo').show();
            //} else {
            //    $('#customerInfo').hide();
            //}
            FillCustomerInfo(id);
        });

        $('#RoomId').change(function () {
            var id = $('#RoomId').val();
            if (this.change != id) {
                $('#roomInfo').show();
            } else {
                $('#roomInfo').hide();
            }
            FillRoomInfo(id);
        });
    });
</script>





<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
